#faviKon
    .go-up
        a(href="#Menu")

    .content
        h1 <b>PWA</b> Icons, manifest <br> & Favicon Issues
        .flexVC.justifySA.mb32.mt32
            img.intro.rounded(src="~/assets/appicon-maskable-512.svg")
            img.intro(src="~/assets/favicon-512.svg")
        p.date 12/05/2021 -&nbsp;
            span.author David Délis.
        .preambule
            p Hello, I'm a French graphic designer & front-end web integrator.
            p Perfectly understand favicons and App icons behaviours is a nightmare. Lies everywhere, stuff that should work and doesn't, icons ignored, etc.
            p Consequently, I decided to create every (a lot) past and present recommended icons and directly inscribed the size value on them. The icons where all the same, except I wrote "16" on the 16px favicon, "32" on the 32px favicon, ... up to 512px. I loaded them in a nuxt/firebase project - the one you're reading now - with a pwa configuration. And I tested.
            p Some "nuxt generate" and "firebase deploy" later, I realized that a vast majority of them seemed useless. Designs, sizes and files supposed to help you control how your favicons & App icon look here and there, all of this, even following precise doc & user reco, it didn't work the way it was supposed to.
            p The pieces of information bellow are a compilation of links & notes.
            p Through final observations and a conclusion, you can directly jump to a summary of what I think every front-end guys should know.
            p At the end of this document, my head link declaration, and my manifest.
            p At the very end of this document some tips to create crisp favicons and App icons.

        h2#Menu Menu
        a.space(href="#Favicons") Mission 1 : How many favicons am I supposed to create ?
        a.space(href="#AppIcons") Mission 2 : App Icons
        a.space(href="#MsTiles") Mission 3 : Windows & Ms Tiles
        a.space(href="#ManifestIssue") Mission 4 : Testing & the manifest issue
        a.space(href="#AppleTouch") Mission 5 : The apple-touch-icon issue
        a.space(href="#Test") Test results
        a.space(href="#Observations") Final Observations
        a.space(href="#Conclusion") Conclusion
        a.space(href="#Head") My final nuxt.config.js concerning head, link
        a.space(href="#Manifest") My final manifest.json
        a.space(href="#Tips") Tips (favicon and App icon design)

        h2 Links & doc
        p
            h3 Read it or not
            a.space(href="https://github.com/audreyfeldroy/favicon-cheat-sheet#optional-but-encouraged" target="_blank") Github - Favicon Explained
            a.space(href="https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/hh772707(v=vs.85)" target="_blank") Microsoft
            a.space(href="https://web.dev/maskable-icon/" target="_blank") About PWA maskable icons
            a.space(href="https://stackoverflow.com/questions/48839338/which-icon-sizes-are-required-for-progressive-web-apps-pwa-as-of-q1-2018/52322368#52322368" target="_blank") StackOverflow - Topic about Icon Sizes
            a.space(href="https://web.dev/manifest-updates/" target="_blank") About manifest updates
            a.space(href="https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html" target="_blank") Safari web content Guide / Web App
            a.space(href="https://mathiasbynens.be/notes/touch-icons#effects" target="_blank") Touch Icons Sizes et precomposed explanations
            a.space(href="https://www.emergeinteractive.com/insights/detail/the-essentials-of-favicons/" target="_blank") A (mostly) complete list of all the 7 known Favorite Icon Sizes (~year 2020)
            h3 usefull tools
            a.space(href="https://appsco.pe/developer/splash-screens" target="_blank") Splash Screens for iOs generator (no Iphone 12)
            a.space(href="http://www.xiconeditor.com/" target="_blank") favicon.ico generator containing multiple .png in one file.

        h2#Favicons Mission 1 : How many favicons am I supposed to create ?

        li Concerning the famous "favicon.ico" and its .png brothers, well, only one is needed apparently, at the root of your site, named favicon.ico containing 2 sizes 16px and 32px. And that's it. I recommand you use a
            a.ib(href="http://www.xiconeditor.com/" target="_blank") favicon generator
            |  to add multiple .png in one .ico file.
        li A fallback is said to be usefull for old browsers, but who cares ? If you do, add a 32px favicon in .png and link it in your head.
        li For Android Chrome, 2 are often created : 128px and 192px .png images. That's when it gets confusing. App icons or Favicons Design ? These, in my opinion, have to be of the very same design as the classic favicons. These are not app icons.
        li It was recommended to add a 196px icon for the sole purpose of a homescreen Android Chrome shortcut. In the mini tab view of your Android Chrome browser, this icon will be chosen. That's an issue. You want it to look like an app icon in your homescreen, but want it to look like a typical favicon in your browser : here starts the nightmare. Should we skip this one if we're doing a PWA, since the App icons chosen will be the one declared in the manifest ?
        li A special case for safari - FYA - It's a pure black 000 rgb shape representing your site or app logo exported as a .svg. You can define the color in the head, but it tends to render poorly. I don't know the rules, but it seems that if the contrast is not high enough, safari will add a white background. It has to be the same shape of your classic favicon in my opinion.

        h2#AppIcons Mission 2 : App Icons
        h3 Should I Create the 128px, 192px, 256px, 384px and 512px App Icons ?
        p You may think that all that is declared in the manifest is app related ? If so, every icon sizes must have a purpose related to the App.
        p In 2021, on modern devices, the 192px icon seems to have only one purpose, and I'm almost certain that it's exactly the same as the android-chrome favicon we designed before.
        p It means that this icon must in fact be based on a favicon design, where the other icons have to be dedicated to the App and look like App icons.
        p Still, I had this test where I didn't have the 128px and 256px declared in the manifest. Chrome Android 7 chose the 192px as the main PWA Icon. I Added the 256px, that was designed as an App Icon. Gets ignored. I Added the 128px, and then, 192px get ignored. mmmh ... :)
        p The point of creating 128px, 256px, 384px icons is to target specific devices and resolutions. It MAY be interesting for some issues. See next point.


        h3 So, which icon will be chosen in the webmanifest ?
        blockquote
            p If there are multiple equally appropriate images in icons, a user agent MUST use the last one declared in order at the time that the user agent collected the list of icons. If the user agent tries to use an icon but that icon is determined, upon closer examination, to be inappropriate (e.g. because its content type is unsupported), then the user agent MUST try the next-most-appropriate icon as determined by examining the manifest image resource's members.
            small <br>Source : somewhere on the web
        p Well ... the user agent surely must but doesn't really in the end, unless I don't understand what is LAST, MUST, and NEXT-MOST.
        p Another example is when the Chrome application tab in your console scans your manifest, and tells you which Icon is gonna be prioritized over the other. So much lies again. :D
        p Anyway, after a shit ton of tries (see test bellow), I investigated the maskable icon method : I tried it on 2 icons of 512px, one with "purpose": "maskable" that's gonna be used as the app icon, and one with no purpose (default: any), used for ... the splashscreen and in ... Microsoft Windows 10. Only these 2 icons were declared in the manifest for this test.
        p Concerning 128px, 256px and 384px icons : in android 7.0, on a Samsung Galaxy Tab S2, the maskable value didn't seem to work. But the icon IS masked in the end. So you may have to hack the system to have a App dedicated Icon that is gonna be masked, and prevent the system from choosing a favicon designed Icon. In this case, you should have a unique 256px icon that is gonna be used for the App icon and for the splasher. I came to that conclusion after realising that the 256px App icon will be chosen on your mobile phone too if declared, and the 384px icon will be chosen for your splasher. So, perfect 256px App icon for the Samsung Galaxy Tab and the Samsung A8, Perfect 384px splasher icon for the Samsung A8, and same 256px App icon used for splasher for the Samsung Galaxy Tab. Are you still here ?

        h2#MsTiles Mission 3 : Windows & Ms Tiles
        p If your point was to have nice tiles in Windows 10 : your browserconfig.xml, your tiles declaration in the head, your specific 5 strange icon dimensions, everything will be completely ignored.
        p If you're not concerned with Windows Phone - And I could not find any friend having one - you can give up on the full browserconfig / IEconfig / mstiles icons stuff.
        p We are in 2021, I attempted every possible ways, but in the end, windows 10 takes the icon declared in the manifest. Doesn't look that bad in the end, but still. Was this supposed to work that way ? I'll gladly tak any advice concerning that matter.
        p What I did not attempted was to check if, when there's no manifest, windows gets the stuff done the way he was supposed to. But well, I need a manifest so ...

        h2#ManifestIssue Mission 4 : Testing & the manifest issue
        p It's a nightmare to clear the cache on mobile and erase data for installed app. It's long and painful.
        p Let's say you installed a first version and are not content with the result : you fix your icons, upload it, and try to reinstall the App. Well, yeah. Android has kept in IDontKnowWhere the previous icon. You can try to clear the Chrome cache all you want, it will not have any effect.
        p Actually, to help your browser understand you changed things, you have to add a version key (e.g.: "?v=2") at the end of your declaration href. It doesn't work 100% of the time, but it works better than any other technic I came across.
        code { rel: "manifest", href: "/manifest.json<strong class="red">?v=2</strong>" }

        h3 Will my installed PWA update my App Icons ?

        blockquote
            p When the PWA is launched, Chrome determines the last time the local manifest was checked for changes. If the manifest hasn't been checked in the last 24 hours, Chrome will schedule a network request for the manifest, then compare it against the local copy.

            p If select properties in the manifest have changed (see list below), Chrome queues the new manifest, and after all windows of the PWA have been closed, the device is plugged in, and connected to WiFi, Chrome requests an updated WebAPK from the server. Once updated, all fields from the new manifest are used.

            p Which properties will trigger an update?
                li background_color
                li display
                li orientation
                li scope
                li shortcuts
                li start_url
                li theme_color
                li web_share_target
            p If Chrome is unable to get an updated manifest from the server, it may increase the time between checks to 30 days.
            small <br>Source : somewhere on the web
        p What you can conclude is :
        li it's almost impossible to have an update of your icons without uninstalling and installing the PWA again.
        li it's a pretty major constraint, because if your icon choices are not iron solid, you may have a ton of users who have installed the App and who will keep the same "bad" icon for eternity. I suggest, as a graphic designer with a solid OCD, to weigh this accordingly : take your time, test, and when you deploy your App, don't regret it !

        h2#AppleTouch Mission 5 : The apple-touch-icon issue
        p You're supposed to declare a list of apple-touch-icons in your head, dedicated to iOs Users and 4 types of device : Phone, Tablet, Phone Retina, Tablet Retina. Due to "pixel density" shitty concept, iOs will pick a ~60px based icon multiplied by 1, 2 or 3 (the pixel density factor), letting you understand why you have 57px(lol), 120px, 180px icons in the end. The principle is not the same on tablet tough ... ok.
        p Isn't the fun infinite ? Yes it is. Because, the best behaviour of all is that some browsers (Chrome, FF) tend to choose the 180px apple-touch-icon over any other. And you fool were sure that if there's apple in the name, it means that it's for Apple users ...
        p So, let's say you have a 192px favicon dedicated to your chrome android browser, it WILL get ignored on your mobile phone, but be chosen on your desktop.
        p HA HA HA. Kill me.
        p Someone suggested - in 2015 - to get rid of the size and type attributes, and pretended it worked like a charm ion iPad, Iphone, Firefox and Chrome. But, why ? What was the point of declaring sizes at the beginning ? Nope. Don't want to test it.
        p What I tried :
        li changing the declaration order, to no effect.
        li Adding bigger icons after or before the 180px apple-touch-icon, because cause someone said modern browsers tend to chose the biggest one, to no effect.
        p Ok, in the end the mess comes from the rel attribute "apple-touch-icon". That's it.
        li If the apple icons are declared, the biggest one will bypass the other icons.
        li As much as we hate Apple for those absurd screen resolutions and stupid icon sizes (57px, WHY?), we can count on them to always choose the correct icon according to the targeted device.
        p Thus, adding new apple-touch-icon will never be a problem, since Apple will never choose incorrect icons. And that's exactly what we can exploit. What we want is our 192px favicon to be chosen. From this objective and these realisations, we have 2 options :
        li One way is to avoid declaring apple-touch-icon in the head, and let iOs do its stuff, since these icons are supposed to be fetched automatically by iOs anyway if placed at the root of your app.
        li But the best hack is to add a last icon with a rel attribute "apple-touch-icon", size value of 192x192, and href your existing 192px favicon design icon. It works.

        h2 Anticipated regrets
        p Let's be cool with it. Trying to have a perfect control on icons for every cases seems "almost" impossible.
        p In the end, I guess It would depend on complex JS that would, for instance, load a specific head according to the device/OS detection, etc.
        p So, let's try our best without JS, and find a good compromise.

        .tests#Test
            h2 Test Results
            h3 Icons tested
            img.initial(src="~/assets/icon-capt.png")
            h3 2021 - Windows 10
            h4 Browsers favicons - Firefox, Chrome, Edge
            li In navbar / address bar / tabs : 16px (.ico)
            li Homescreen / loading page : 32px (.ico)
            li Parameters : 16px (.ico)

            h4 Firefox
            li In collection : 16px (.ico) + gets og:image

            h4 Desktop install - Firefox, Chrome, Edge
            li Install prompt : 128px
            li In Windows taskbar : 128px
            li In Windows launch menu : 128px
            li In Windows tiles : 128px. If from Edge, it will be with a electric blue background. If not, it will be a transparent one. No tiles options. When resizing thumbnail (small, big), no change. 128px.

            h3 2021 - Samsung A8 - Android 9
            h4 Browsers favicon - Firefox, Chrome, Native / <b>No Apple-touch-icon declared in the Head</b>
            li Navbar, address bar, minified page, etc. : 192px
            li Parameters, history, collection : 192px
            li Homescreen / loading page : 192px

            h4 Browsers favicon - Firefox, Chrome, Native / <b>Apple-touch-icons are declared in the Head - max size icon is 180px</b>
            li Navbar, address bar, minified page, etc. : 180px
            li Parameters, history, collection : 180px
            li Homescreen / loading page : 192px

            h4 Browsers favicon - Firefox, Chrome, Native / <b>Apple-touch-icons are declared in the Head - max size icon is 192px</b>
            li Navbar, address bar, minified page, etc. : 192px touch
            li Parameters, history, collection : 192px touch
            li History (Native browser) : 192px (masked)
            li Homescreen / loading page : 192px

            h4 PWA - from Chrome
            li Install prompt : 512px Maskable / 256px Maskable if declared
            li App icon : 512px Maskable / 256px Maskable if declared
            li Splasher : 512px No Mask / 384px if declared --> Can be any shape (rectangle) BUT Height will be 384px anyway.
            li Minified window : 512px Maskable / 256px Maskable if declared

            h4 PWA - from Native Browser
            li Install prompt : 512px Maskable / 256px Maskable if declared
            li App icon : 512px Maskable / 256px Maskable if declared
            li Splasher : 512 No Mask
            li Minified Windows : 512px Maskable / 256px Maskable if declared. Adds a white square bg in every cases ... sure, why not !

            h3 2021 - Samsung Galaxy Tab S2 - Android 7
            h4 Browsers favicon
            li Same rules as mobile.

            h4 PWA - from Chrome
            li Install prompt : 128px
            li Install prompt 2 : 128px
            li App icon : 256px no mask
            li Splasher : 256px no mask
            li Minified window : 128px

            h3 2021 - IOs 14.4.2 Mobile Devices (Ipad Air 2 / iPhone 12)
            h4 Safari Favicons
            li Tab / minimized window : 32px (.ico)
            li Share window : 192px
            li Install prompt : Iphone 12 --> 120px / Ipad Air 2 --> 152px

            h4 PWA
            li All splashscreen declared are displayed
            li App Icon : Iphone 12 --> 120px / Ipad Air 2 --> 152px

            h3 2021 - MacOs
            h4 Safari favicons
            li Tab : safari pinned Tab, but with a white background.
            li Bookmarks : 32px .ico

        h2#Observations Final Observations

        h3 about classic favicons
        li 16px and 32px are the only one used in the .ico resource.
        li .png favicon resources are never used if you have a multi file favicon.ico
        li The BIGGEST apple-touch-icon will be the chosen favicon on almost every mobile devices, whatever the OS.
        li The android-chrome-192x192px will be displayed in the vast majority of transition pages in browsers (homescreens, share windows, etc.)

        h3 about Ms Tiles
        li Gets ignored and ignored and ignored.

        h3 about PWA App icons
        li The absence of a 192px icon in the manifest can make some OS ignore the whole manifest.
        li Install prompts, Mobile homescreens, Minimized windows are choosing one of the icons declared in the manifest.
        li Microsoft Windows 10 checks the manifest and chooses the smallest Icon.
        li The 512px icon can cover every cases related to the App Icons.
        li The minimum quantity of icons to declare is 2 : a mandatory 196px icon and a recommended all-around big maskable App icon.
        li The 384px icon has been loaded only one time, As the App splasher, in android 9, On a Samsung A8.
        li The best way to hack android 7 has been to declare a 128px App icon and a 256px App icon, as it chooses the first one as the App icon on install prompts, and the second one as App icon and App splasher. Removing the 128px icon makes the OS choose the 192px as the App icon.
        li "maskable" doesn't work on every device.
        li Apple is good at pinpointing the right resources.

        h2#Conclusion Conclusion

        h3 Only 2 designs are needed
        li 1 Favicon Design
        li 1 App Icon Design

        h3 12 files
        h4 Favicons : 2 files
        li 1. favicon.ico : multi sizes .png with 16px / 32px at least & 64px as a base. With the
            a.ib(href="http://www.xiconeditor.com/" target="_blank") favicon.ico generator
            |  , upload your 64px .png, previously created from a perfect 16px base.
        li 2. mobile-favicon-192.png : will be used in 3 places - 2 head link rel "apple-touch-icon" & "icon" and 1 declaration in the manifest)

        h4 Splashers based on favicon design : 2 files
        li 3. appicon-splasher-384.png : will be used as a full icon splasher.
        li 4. appicon-splasher-512.png : will be used as a full icon splasher.

        h4 App Icons : 7 files
        li 5. appicon-maskable-128.png : will be used as the official App Icon - don't mention purpose in manifest
        li 6. appicon-maskable-256.png : will be used as the official App Icon / Will be used sometimes as splasher - don't mention purpose in manifest
        li 7. appicon-maskable-512.png : will be used as the official App Icon - "purpose": "maskable"
        li 8. apple-touch-icon-120x120-precomposed.png : iphone Retina
        li 9. apple-touch-icon-152x152-precomposed.png : ipad
        li 10. apple-touch-icon-167x167-precomposed.png : ipad Retina
        li 11. apple-touch-icon-180x180-precomposed.png : iphone Retina

        h4 Special : 1 file
        li 12. safari-pinned-tab : used in Safari Mac OS.

        h3 Splashers
        h4 if you care about apple users
        li Create Custom Splash Screen on iOS&nbsp;
            a.ib(href="https://appsco.pe/developer/splash-screens" target="_blank") Here
        li The total 12 images weight is gonna be around 300ko, if you have up to 4 colors max in your png. Way mor if you have picture type or complex content.

        h2#Head My final nuxt.config.js concerning head, link
        code
            span link: [
            br
            span.p24 /* Icons, Manifest */
            span.p24 {rel: "apple-touch-icon", sizes: "120x120", href: "/apple-touch-icon-120x120-precomposed.png"}, /* iphone retina - previously 114 */
            span.p24 {rel: "apple-touch-icon", sizes: "152x152", href: "/apple-touch-icon-152x152-precomposed.png"}, /* ipad Touch Icon - previously 144 */
            span.p24 {rel: "apple-touch-icon", sizes: "167x167", href: "/apple-touch-icon-167x167-precomposed.png"}, /* iPad Retina Touch Icon - Since iOs10, 152 will be used */
            span.p24 {rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon-180x180-precomposed.png"}, /* iPhone Retina */
            span.p24 {rel: "apple-touch-icon", sizes: "192x192", href: "/android/mobile-favicon-192.png"}, /* Retina Screens Trick*/
            span.p24 {rel: "shortcut icon", sizes: "192x192", href: "/android/mobile-favicon-192.png"}, /* Favicons */
            span.p24 {rel: "manifest", href: "/manifest.json"}, /* Manifest */
            span.p24 {rel: "mask-icon", href: "/ios/safari-pinned-tab.svg", color: "#ffffff"},
            span.p24 {rel: "shortcut icon", sizes: "16x16 32x32 64x64", href: "favicon.ico"}, /* Favicons */
            br
            span.p24 /* iOs SplashScreen - FYA */
            span.p24 {href: "/splashscreens/iphone5_splash.png", media: "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphone6_splash.png", media: "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphoneplus_splash.png", media: "(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphonex_splash.png", media: "(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphonexr_splash.png", media: "(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphonexsmax_splash.png", media: "(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphone12_splash.png", media: "(device-width: 390px) and (device-height: 884px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/iphone12max_splash.png", media: "(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/ipad_splash.png", media: "(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/ipadpro1_splash.png", media: "(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/ipadpro3_splash.png", media: "(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span.p24 {href: "/splashscreens/ipadpro2_splash.png", media: "(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel: "apple-touch-startup-image"},
            span ],

        h2#Manifest My final manifest.json
        code
            span {
            span.p12 "name": "Favikon",
            span.p12 "short_name": "Favikon",
            span.p12 "description": "My journey to the favicon & app icon hell",
            span.p12 "display": "standalone",
            span.p12 "orientation": "portrait",
            span.p12 "theme_color": "#2E3E51",
            span.p12 "background_color": "#2E3E51",
            span.p12 "start_url": "/",
            span.p12 "icons": [
            span.p24 {"src": "android/mobile-favicon-192.png", "sizes": "192x192", "type": "image/png"},
            span.p24 {"src": "appicons/appicon-maskable-128.png", "sizes": "128x128", "type": "image/png"},
            span.p24 {"src": "appicons/appicon-maskable-256.png", "sizes": "256x256", "type": "image/png"},
            span.p24 {"src": "appicons/appicon-splasher-384.png", "sizes": "384x384", "type": "image/png"},
            span.p24 {"src": "appicons/appicon-splasher-512.png", "sizes": "512x512", "type": "image/png"},
            span.p24 {"src": "appicons/appicon-maskable-512.png", "sizes": "512x512", "type": "image/png", "purpose": "maskable"}
            span.p12 ]
            span }

        h2#Tips Tips
        h3 How to design the favicon ?
        li Make a perfect 16px favicon
        li Work in vector, use a small amount of color
        li Work in a pixel grid view to make sure every element is aligned to pixels. Avoid half pixels on straight lines, it will be blurry.
        li from there, upscale it to 64px, 192px, 384px.
        li export as .png
        li use your 64px icon as base icon in
            a.ib(href="http://www.xiconeditor.com/" target="_blank") favicon.ico generator
        .tests
            h4 results from 16px base

            img(src="~/assets/android-chrome-192x192.png")
            img.px16(src="~/assets/16px-demo.svg")
            span <- 16px
            h4 process
            img(src="~/assets/id-v.png")
            img(src="~/assets/id-n.png")
            img(src="~/assets/id-p.png")
        .mt32
        h3 Thoughts about pixels, svg and webfonts.
        p There's a bad understanding of how pixel works. Some think that a .svg, because it's a vector file, will help to have a perfect rendering. That's not it at all. Your base 16px icon has to be pixel perfect, be it exported as a .svg or a .png. And, when you scale it, you have to go by increment of 16px, otherwise, you will have partial pixel rendering.
        p That's the reason why you have 16px based icon, and 24px based icon.
        li If you upscale a 16px to 24px, with, let's says, a initial stroke of 1px somewhere in your design, you increase the size by a factor of 1.5, meaning your stroke is going to be 1.5px.
        li It you upscale a 16px to 32px, the 1px stroke is going to be 2px. Crisp rendering.
        li Below : 16px based icon in .svg, upscaled at 24px, 32px, 57px. The only two icons that have a perfect rendering are the 1st and 3rd one : 16px and 32px. The rest is ok, but not perfect.
        img(src="~/assets/16px-demo.svg" height="16px" width="16px")
        img(src="~/assets/16px-demo.svg" height="24px" width="24px")
        img(src="~/assets/16px-demo.svg" height="32px" width="32px")
        img(src="~/assets/16px-demo.svg" height="57px" width="57px")
        li Let's say you are designing a webfont, if you want to have the same icon displayed in your App at 16px and 24px, you'll have to create 2 different icons.
        li That's why I hate 10px based webfonts too, because they don't give a damn about the 16px rule, and let you think that, because it's a vector, there won't be a problem. Ok, I may have invented that 16px rule, but, you know, every screen dimensions on desktops (except "IWillDoItMyWayApple"), were based on 8px to 16px. A FullHD screen is 120 x 16px. A HD Screen is 80 x 16px, etc. All my PWA for desktops are based on this. My margins and paddings are based on 24px or 16px, that I multiply by X or divide by Y. And I could develop that idea with 16bit/24bit/32bit color depth, 160kbps, 240kps, or 320kbps for mp3, etc. :)
        p The retina screens changed the game, but the principle remains the same. Pixel density is just a factor. It just means that, to display correctly a 16px icon on a retina screen, you have to load a 32px resource divided by 2. That's why mobile favicon will choose a 192px favicon and divide it by 12 for a 16px final perception, 6 for a 32px final perception or 4 for a 48px final perception, etc.
        p Note that Retina Screens have a much much better render anyway and can let you think that there are no issues with your icons. You have to keep in mind that most of desktop screens are not Retina ... :)

        h3 How to design the App Icon ?
        li Make it simple. It doesn't mean "no effect", but rather, 1 or 2 strong elements.
        li If you're not concerned with being part of the bad guys, choose ultra vivid colors (unlike my example). Get inspired by facebook, spotify, google and all the contemporary monsters.
        li Be carefull of the maskable area. Make your logo/design inside the 80% width red circle.
        li Make sure that your logotype inside the red area is 16px based if you want a perfect rendering. Remember that, again, 128, 256, 384, 512 are all 8px / 16px based.
        li As for Apple icons ... well ... ask them.
        .tests
            img.initial(src="~/assets/mask-demo.png")